body, h1, h2, h3, h4, h5, p, a, ul, ol {
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
	font-size: 14px;
}

body {
	background-image: url(../img/header__bg.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
}

img {
	max-width: 100%;
}

.link {
	font-size: 14px;
	color: var(--color-text-blue);
	text-align: center;
	border-bottom: dashed 1px var(--color-text-blue);
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

@media screen and (max-width: 1149px) {
	body {
		background-size: 1140px;
		background-position-x: left; 
	}
}

@media screen and (max-width: 767px) {
	body {
		background-position-x: -280px; 
	}
}