.container {
	width: 1440px;
	margin: 0 auto;
}

.container.-mini {
	width: 1024px;
}

@media  screen and (max-width: 1480px) {
	.container {
		width: 1100px;
	}
}

@media  screen and (max-width: 1100px) {
	.container, .container.-mini {
		width: 990px;
	}
}

@media screen and (max-width: 1023px) {
	.container, .container.-mini {
		width: 730px;
	}
}

@media screen and (max-width: 767px) {
	.container, .container.-mini {
		width: 85%;
	}
}