.features__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
 	min-width: 666px;
 	max-width: 666px; 
}

.features__title {
	font-weight: bold;
	font-size: 30px; 
}

@media screen and (max-width: 1099px) {
	.features__title {
		font-size: 24px;
	}
}

@media screen and (max-width: 1023px) {
	.features__title {
		margin-bottom: 60px;
		font-size: 30px;
		text-align: center;
	}
}


@media screen and (max-width: 749px) {
	.features__content {
		padding: 0 15px;
		min-width: 100%;
		max-width: 100%;
	}
}