.section {
	padding: 100px 0;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 1023px) {
	.section {
		padding: 60px 0;
	}

	.content {
		flex-direction: column;
	}
}