.title-list {
	width: 100%;

	margin-top: 70px;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.title-list__info {
	width: 50%;
}

.title-list__date {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 20px;
}

.title-list__start {
	font-weight: bold;
	font-size: 40px;

	margin-bottom: 20px;

	line-height: 50px;

	width: 500px;
}

.title-list__offline {
	font-size: 18px;
	font-weight: normal;

	margin-bottom: 45px;
}



@media screen and (max-width: 1023px) {
	.title-list__start {
		width: auto;

		font-size: 36px;
	}

	.title-list {
		margin-top: 35px;
		flex-direction: column;
	}

	.title-list__info {
		width: 100%;
		padding-left: 230px;
	}
}

@media screen and (max-width: 767px) {
	.title-list__info {
		padding: 0 30px;
	}	
}